/* telephone */
@media (max-width: 1000px) {
	body {
		margin: 0;
	}

	body * {
		font-size: 24px;

	}

	#voletdroit,
	body:not(.actifM) #voletgauche {
		display: none;
	}


	
	body.actifM #ctnrPage{
		display: none;
	}

	#main {
		z-index: 10;
		width: 100%;
	}
	
	

	#hdr {
		z-index: 10;
	}

	body:not(.actifM) #hdr {
		display: none;
	}

	div#top {
		display: none;
	}

	/* body.actifM #hdr{
		position: relative;
		z-index: 1000;
	} */

	body.actifM {
		display: flex;
		flex-direction: column;
	}


	#panneauAide {
		height: 400px;
		padding: 20px 20px 20px 30px;
		cursor: auto;

	}


	#liste {
		height: 300px;

	}
	body.actifM #bkgrd{
		z-index: 5;
	}

	#masque{
		width: 80px;
		height: 80px;
		top:20px;
		left:20px;
	}
	#masque::after{
		content: "╳";
		font-weight: bolder;
		font-size: 40px;
		position:relative;
		line-height: 1;
		left: 25%;
		top: 25%;
		user-select: none;
	}

	body.ULSA #masque::after{
		color: rgb(203 203 203);

	}

	body.gallica #masque::after{
		color: rgb(234 216 180)

	}

	#recmasque {
		z-index: 10;
		padding-top: 30px ;
		padding-bottom: 30px;
	}
	#recmasque > * {
		font-size: 30px;
		padding: 5px 10px;
		
	}

	#voletgauche .wrap{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}

	#voletgauche .wrap > *:not(#brk){
		margin:25px 0;
	}


	#pRacine{
		order:1;
	}
	#abreviationsCtnr{
		order:2;
	}

	#brk{
		flex-basis: 100%;
		height: 0;
		order:3;
		margin:0;
	}
	#tgldiv{
		order:4;
	}

	
	#errataCtnr,
	#abreviationsCtnr {
		gap:10px;
	}

	#imgsrc{
		text-align: center;
	}

	.pc{
		display: none;
	}

}

/***fin tel***/

/* pc */
@media (min-width:1000px) {
	
	#brk{
		display: none;
	}

	#bkgrd {
		top: 0;
		left: 0;

	}

	#recmasque {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 40;
		padding: 10px;

	}

	#panneauAide {
		transition: height .5s ease;
		padding: 0px 20px;

	}

	#hdr:not(.actif) #panneauAide{
		height: 0px;
	}

	#hdr.actif #panneauAide {
		height: 250px;
	}



	#liste {
		height: 100px;

	}

	#masque {
		right: 0;		
		top: 0;
		left: 0;
		bottom:0
	}

	.volet .wrap {
		display: flex;
		flex-direction: column;
		position: sticky;
		top: 20px;
	
	
	}

	.volet {
		width: 200px;
		overflow: clip;
	}
	
	
	#voletgauche .wrap {
	
	
		justify-content: flex-start;
		gap: 30px;
	}
	

	#main {
		display: flex;
		justify-content: center;
		gap: 20px;
	}

	#pRacine{
		width: 100%;

	}
	
}

/***fin pc***/





/************************fin media queries**************************/

#ctnrPage {
	width: 1000px;
	flex-shrink: 0;
}

#liste {

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 5px;
}




#bkgrd {
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -99;
	position: fixed;
}



#recmasque {
	overflow: clip;
	gap: 20px;
}

body:not(.actifM) #recmasque {
	display: none;
}

/* pour eviter transition du background la premiere fois. */
body:not(.start) * {
	transition: background-color 0.5s ease;
}

button p {
	margin: 0;
}

#panneauAide {
	overflow: clip;

	margin-bottom: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 10px;

}

body.gallica #pULSA,
body.ULSA #pGallica {
	display: none;
}

body.gallica #panneauAide {
	background-color: rgb(234 216 180)
}


body.ULSA #panneauAide {
	background-color: rgb(203 203 203)
}


#panneauAide p {
	margin: 0;

}

#help p {
	transition: rotate 0.5s ease;
}

#hdr.actif #help p {
	rotate: 180deg;
}

#liste p {
	margin: 0;
}





#hdr {
	cursor: pointer;
	width: 100%;
	padding-bottom: 15px;
}





#ctnrPage {
	user-select: none;
	position: relative;

}



#ctnrPage img#pagePrincipale {
	width: 100%;
	display: block;
}

#ctnrPage .over {
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0);
	width: 12%;
	height: 100%;
	transition: .5s ease;
	opacity: 0;
	color: white;
	font-size: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}

#ctnrPage .over.prec {
	left: 0;
}

#ctnrPage .over.suiv {
	right: 0;
}

#ctnrPage .over:hover {
	opacity: 0.1;
}

div.racine {
	display: flex;
	justify-content: center;
}

#top {
	display: flex;
	justify-content: center;
	gap: 20px;
}


#masque {

	z-index: 15;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;


}

body:not(.actifM) #masque {
	display: none;

}

body.gallica #bkgrd,
body.gallica #recmasque {
	background: rgb(218 180 138);

}

body.ULSA #bkgrd,
body.ULSA #recmasque {
	background: rgb(159 159 159);


}



.retour {
	display: none;

	font-size: 0.95em;
}

#errataCtnr,
#abreviationsCtnr {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#errataCtnr>a {
	flex-basis: fit-content;
}



#pRacine {
	font-size: xx-large;
	margin: 0;
	padding: 15px 0;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

#tgldiv {
	border-width: 2px;
	padding: 15px 0px;
	border-style: solid none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

body.gallica #tgldiv{
	border-color:rgb(234 216 180) ;
}
body.ULSA #tgldiv{
	border-color: rgb(203 203 203);
}

#tgldiv p{
	margin:0;
}

#imgsrc {
	width: 100%;
}


#chgmt {
	width: fit-content;
	font-size: large;
	height: fit-content;
}

#chgmt p {
	transition: .5s ease;
	/* control freak moment */
	transform: translateY(-0.08em);
	
}


#voletdroit p {
	margin: 0;

}

#voletdroit {
	font-size: 1.2rem;
	line-height: 1.13;
	font-weight: bold;
}

#alphabet > p {
	cursor: pointer;
}


#top {
	padding: 40px 0 20px 0;
}